<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bb_h1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,271},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,540},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h4.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,540},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h5.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h6.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,271},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_h7.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,271},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_standing_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_standing_horizontal.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,2},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_standing_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{200,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,267}}</string>
			<key>sourceSize</key>
			<string>{200,267}</string>
		</dict>
		<key>bb_walking1_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,271},{148,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,267}}</string>
			<key>sourceSize</key>
			<string>{148,267}</string>
		</dict>
		<key>bb_walking1_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,271},{148,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,267}}</string>
			<key>sourceSize</key>
			<string>{148,267}</string>
		</dict>
		<key>bb_walking2_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,540},{148,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,267}}</string>
			<key>sourceSize</key>
			<string>{148,267}</string>
		</dict>
		<key>bb_walking2_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,540},{148,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,267}}</string>
			<key>sourceSize</key>
			<string>{148,267}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>input/bomberman_sprites.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>input/bomberman_sprites.png</string>
	</dict>
</dict>
</plist>
