<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>c_wall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>c_wall2.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>c_wall3.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>c_wall4.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>c_wall5.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,204},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>grass.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>input/tile_textures.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>input/tile_textures.png</string>
	</dict>
</dict>
</plist>
